@import "frappe.css";

* {
  font-family: JetBrainsMono NF Regular;
  font-size: 0.9rem;
  transition-duration: 0.5s;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces,
#cpu,
#memory,
#custom-music,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#clock,
#custom-lock,
#custom-power {
  background-color: @surface0;
  color: @text;
  border-radius: 2rem;
  margin-top: 0.3rem;
  padding: 0 0.5rem 0 0.5rem;
}

#workspaces {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#cpu {
  padding: 0 1rem 0 0.7rem;
  border-radius: 2rem 0 0 2rem;
}

#cpu:hover {
  color: @teal
}

#memory {
  padding: 0 1rem 0 0.5rem;
  border-radius: 0 2rem 2rem 0;
}

#memory:hover {
  color: @flamingo
}

#custom-music {
  margin-right: 0.5rem;
}

#custom-music:hover {
  color: @peach
}

#network {
  border-radius: 2rem 0 0 2rem;
}

#network:hover {
  color: @green
}

#bluetooth {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0 2rem 2rem 0;
}

#bluetooth:hover {
  color: @blue
}

#pulseaudio {
  border-radius: 2rem 0 0 2rem;
}

#pulseaudio:hover {
  color: @green;
}

#backlight, #battery {
  border-radius: 0;
}

#backlight:hover {
  color: @yellow;
}

#battery:hover {
  color: @sapphire
}

#clock {
  border-radius: 0 2rem 2rem 0;
  margin-right: 0.5rem;
}

#clock:hover {
  color: @teal
}

#custom-lock {
  border-radius: 2rem 0 0 2rem;
  padding: 0 1rem;
}

#custom-lock:hover {
  color: @maroon
}

#custom-power {
  padding: 0 1rem;
  border-radius: 0 2rem 2rem 0;
  margin-right: 0.5rem;
}

#custom-power:hover {
  color: @red
}
