@import "frappe.css";

* {
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
 
 }

window {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16pt;
  background-color: rgba(48, 52, 70, 0.3);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: .25rem;
  opacity:1;
  border: 0;
  background-color: @surface0;
  color: @text;
}

button:hover {
  background-color: @mantle;
  color: @text;
}

button:focus {
  background-color: @lavender;
  color: @text;
}

button:active {
  background-color: @lavender;
  color: @text
}

#lock {
  background-image: image(url("./lock.png"));
}

#lock:focus {
  background-image: image(url("./lock-hover.png"));
  color: @base
}

#logout {
  background-image: image(url("./logout.png"));
}

#logout:focus {
  background-image: image(url("./logout-hover.png"));
  color: @base
}

#suspend {
  background-image: image(url("./sleep.png"));
}

#suspend:focus {
  background-image: image(url("./sleep-hover.png"));
  color: @base
}

#shutdown {
  background-image: image(url("./power.png"));
}

#shutdown:focus {
  background-image: image(url("./power-hover.png"));
  color: @base
}

#reboot {
  background-image: image(url("./restart.png"));
}

#reboot:focus {
  background-image: image(url("./restart-hover.png"));
  color: @base
}

#windows {
  background-image: image(url("./windows.png"));
}

#windows:focus {
  background-image: image(url("./windows-hover.png"));
  color: @base
}
